c331033 김윤진

# 제어문

In [1]:
if True: 
      print('조건이 참입니다.')

print('조건문이 종료되었습니다.')

조건이 참입니다.
조건문이 종료되었습니다.

In [2]:
if False: 
      print('조건이 참입니다.')

print('조건문이 종료되었습니다.')

조건문이 종료되었습니다.

In [3]:
money =100

if money <= 500:

       print('걸어간다.')

걸어간다.

In [4]:
money = 1000

if money <= 500:
   print('걸어간다.') 
else:
    print('택시탄다.')

택시탄다.

In [5]:
money = 1000

if money <= 500:
   print('걸어간다.') 

elif money <= 2500:
    print('버스탄다.')

else:
    print('택시탄다.')

버스탄다.

In [7]:
n=0

while n < 5:

  n = n+1
  print("n=", n)

n= 1
n= 2
n= 3
n= 4
n= 5

In [8]:
for n in range(0,6):
    print("n=", n)

n= 0
n= 1
n= 2
n= 3
n= 4
n= 5

In [9]:
x_list = [1, 2, 3, 4, 5]

for item in x_list:
    print(f'{item = }')

item = 1
item = 2
item = 3
item = 4
item = 5

In [12]:
x = [10,20,30,40,50]

for method in [len, max, sum]:

    print(f'{method}(x) = {method(x)}')

<built-in function len>(x) = 5
<built-in function max>(x) = 50
<built-in function sum>(x) = 150

In [13]:
for item in enumerate(['a', 'b', 'c', 'd', 'e']):
    print(f'{item = }')

item = (0, 'a')
item = (1, 'b')
item = (2, 'c')
item = (3, 'd')
item = (4, 'e')

In [14]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):
    print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
i = 2, item = 'c'
i = 3, item = 'd'
i = 4, item = 'e'

In [15]:
x_list = [1, 2, 3, 4, 5]
y_tuple = ('a', 'b', 'c', 'd', 'e')
z_str = 'ABCDE'

zip(x_list, y_tuple, z_str)

In [16]:
list(zip(x_list, y_tuple, z_str))

[(1, 'a', 'A'), (2, 'b', 'B'), (3, 'c', 'C'), (4, 'd', 'D'), (5, 'e', 'E')]

In [17]:
for x, y, z in zip(x_list, y_tuple, z_str):
      print(f'{x = }, {y = },{z = }')

x = 1, y = 'a',z = 'A'
x = 2, y = 'b',z = 'B'
x = 3, y = 'c',z = 'C'
x = 4, y = 'd',z = 'D'
x = 5, y = 'e',z = 'E'

In [18]:
for i, (x, y, z) in enumerate(zip(x_list, y_tuple, z_str)):
      print(f'{i = }, {x = }, {y = },{z = }')

i = 0, x = 1, y = 'a',z = 'A'
i = 1, x = 2, y = 'b',z = 'B'
i = 2, x = 3, y = 'c',z = 'C'
i = 3, x = 4, y = 'd',z = 'D'
i = 4, x = 5, y = 'e',z = 'E'

In [19]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           break

      print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'

In [20]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           continue

      print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
i = 3, item = 'd'
i = 4, item = 'e'

In [21]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           pass

      print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
i = 2, item = 'c'
i = 3, item = 'd'
i = 4, item = 'e'

In [22]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

         print('여기에서 실제로는 종료됨. 편의를 위해 주석처리')

      print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
여기에서 실제로는 종료됨. 편의를 위해 주석처리
i = 2, item = 'c'
i = 3, item = 'd'
i = 4, item = 'e'

In [23]:
for i in range(1, 10):

      for j in range(1, 10):

            print(f'{j}x{i}={j*i:>2d}', end='\t')
            if j == 9:

               print()

1x1= 1	2x1= 2	3x1= 3	4x1= 4	5x1= 5	6x1= 6	7x1= 7	8x1= 8	9x1= 9
1x2= 2	2x2= 4	3x2= 6	4x2= 8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
1x3= 3	2x3= 6	3x3= 9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
1x4= 4	2x4= 8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
1x5= 5	2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
1x6= 6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
1x7= 7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
1x8= 8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
1x9= 9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

# 추가학습내용

In [1]:
학년 = 1
if 학년 == 1:
    print('파이썬을 수강한다.')
elif 학년 == 2:
    print('R 수강한다.')
elif 학년 == 3:
    print('관리회계 수강한다.')
elif 학년 == 4:
    print('졸업논문 수강한다.')
else:
    print('이제 졸업해야지...')

파이썬을 수강한다.

1학년에 해당되어 파이썬을 수강한다.는 문구가 뜨게됨.

In [2]:
학년 = 2.5
if 학년 == 1:
    print('파이썬을 수강한다.')
elif 학년 == 2:
    print('R 수강한다.')
elif 학년 == 3:
    print('관리회계 수강한다.')
elif 학년 == 4:
    print('졸업논문 수강한다.')
else:
    print('이제 졸업해야지...')

이제 졸업해야지...

1,2,3,4 이외의 숫자인 2.5는 이제 졸업해야지라는 문구가 뜨면서 문맥 오류가 생김

In [3]:
학년 = 2.5
if 학년 < 2:
    print('파이썬을 수강한다.')
elif 학년 < 3:
    print('R 수강한다.')
elif 학년 < 4:
    print('관리회계 수강한다.')
elif 학년 < 5:
    print('졸업논문 수강한다.')
else:
    print('이제 졸업해야지...')

R 수강한다.

부등호를 통해 문맥오류를 해결.

In [1]:
n = 5

while n < 5:
     n = n+1
     print("n=", n)

조건에 맞지 않기 때문에 실행하지 않음.

In [3]:
n = 0

while n < 5:

     print("n=", n)
     n = n+1

n= 0
n= 1
n= 2
n= 3
n= 4

n = n+1과 print("n=", n)의 순서만 바꿔도 출력값이 다름.

In [4]:
for n in range(0,5):
    print('n=', n+1)

n= 1
n= 2
n= 3
n= 4
n= 5

0부터 4까지 n에 1을 더한 값을 출력.

In [5]:
for n in range(1,6):
    print('n=', n)

n= 1
n= 2
n= 3
n= 4
n= 5

1부터 5까지 n을 출력.

In [7]:
enumerate(['a', 'b', 'c', 'd', 'e'])

enumerate 객체의 메모리 주소 출력.

In [8]:
list(enumerate(['a', 'b', 'c', 'd', 'e']))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

인덱스와 원소들이 튜플로 묶임.

In [9]:
a = (1,2)

In [10]:
a

(1, 2)

a가 튜플이 됨.

In [11]:
(b,c) = (1,2)

In [12]:
b

1

In [13]:
c

2

튜플로 된것을 각각 받으면 원소별로 출력됨.

In [14]:
(b,c,d) = (1,2,3)

In [15]:
b

1

In [16]:
c

2

In [17]:
d

3

튜플로 된것을 각각 받으면 원소별로 출력됨.

(b,c) = (1,2,3)는 에러, 자리는 두갠데 주는 값은 3개로 숫자가 맞지않아 에러 (원소별로 받을때 갯수를 잘 맞추기)

In [18]:
x_list = [1, 2, 3]
y_tuple = ('a', 'b', 'c', 'd', 'e')
z_str = 'ABCDE'

zip(x_list, y_tuple, z_str)

In [19]:
x_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y_tuple = ('a', 'b', 'c', 'd', 'e')
z_str = 'ABCDE'

zip(x_list, y_tuple, z_str)

결과 변화 없음, 인덱스 제일 짧은 쪽에 맞춰 바꿈.

In [20]:
(b,c) = 1,2

In [21]:
b

1

In [ ]:
c

In [ ]:
b,c = 1,2

In [ ]:
b

In [ ]:
c

In [ ]:
b,c = (1,2)

In [ ]:
b

In [ ]:
c

튜플은 괄호 없어도 성립함.

In [ ]:
b,c = [1,2]

In [ ]:
b

In [ ]:
c

list도 받음.

for x, y in (zip(x_list, y_tuple, z_str)):
      print(f'{x = }, {y = }, {z = }')는 에러, zip(x_list, y_tuple, z_str)은 3개의 요소로 된 튜플이지만 for x, y in ...은 각 요소가 2개짜리 튜플이어서 오류남.

for x, y, z, k in (zip(x_list, y_tuple, z_str)):
      print(f'{x = }, {y = }, {z = }')는 에러, zip()에서 묶인 요소 수와 for 문에서 사용하는 변수 수는 항상 일치해야함.

In [24]:
list(enumerate(zip(x_list, y_tuple, z_str)))

[(0, (1, 'a', 'A')),
 (1, (2, 'b', 'B')),
 (2, (3, 'c', 'C')),
 (3, (4, 'd', 'D')),
 (4, (5, 'e', 'E'))]

zip(x_list, y_tuple, z_str)는 요소들을 묶어서 튜플로 만듦, enumerate는 zip 결과에 인덱스를 붙임, list는 enumerate 객체를 리스트로 변환함.

for i, x, y, z in enumerate(zip(x_list, y_tuple, z_str)):
      print(f'{i = }, {x = }, {y = },{z = }')는 에러, (index, (x, y, z))인데 for i, x, y, z라고 쓰면 에러남.

In [26]:
for i, x in enumerate(zip(x_list, y_tuple, z_str)):
      print(f'{i = }, {x = }')

i = 0, x = (1, 'a', 'A')
i = 1, x = (2, 'b', 'B')
i = 2, x = (3, 'c', 'C')
i = 3, x = (4, 'd', 'D')
i = 4, x = (5, 'e', 'E')

zip(x_list, y_tuple, z_str)는 튜플을 만듦, enumerate는 튜플에 대해 인덱스 i를 붙임. i는 인덱스, x는 (x_val, y_val, z_val) 튜플로 출력됨.

In [27]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           break
           print('나 브레이크야!')

      print(f'{i = }, {item = }')
      print('for문을 빠져나왔습니다.')

i = 0, item = 'a'
for문을 빠져나왔습니다.
i = 1, item = 'b'
for문을 빠져나왔습니다.

In [29]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           continue
           print('나 컨티뉴야!')

      print(f'{i = }, {item = }')
      
      print('for문을 빠져나왔습니다.')

i = 0, item = 'a'
for문을 빠져나왔습니다.
i = 1, item = 'b'
for문을 빠져나왔습니다.
i = 3, item = 'd'
for문을 빠져나왔습니다.
i = 4, item = 'e'
for문을 빠져나왔습니다.

In [30]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

           pass
           print('나 패스야!')

      print(f'{i = }, {item = }')
      print('for문을 빠져나왔습니다.')

i = 0, item = 'a'
for문을 빠져나왔습니다.
i = 1, item = 'b'
for문을 빠져나왔습니다.
나 패스야!
i = 2, item = 'c'
for문을 빠져나왔습니다.
i = 3, item = 'd'
for문을 빠져나왔습니다.
i = 4, item = 'e'
for문을 빠져나왔습니다.

for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:


      print(f'{i = }, {item = }')
      print('for문을 빠져나왔습니다.')는 에러, if문 다음 실행문 없음, if문과 print 라인이 같음.

In [ ]:
for i, item in enumerate(['a', 'b', 'c', 'd', 'e']):

      if i == 2:

         exit(0)
         print('여기에서 실제로는 종료됨. 편의를 위해 주석처리')

      print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
여기에서 실제로는 종료됨. 편의를 위해 주석처리
i = 2, item = 'c'
i = 3, item = 'd'
i = 4, item = 'e'

:

커널 다시 시작 -> 주피터 변수들이 메모리에서 다 날아간다는 뜻, '여기에서 실제로는 종료됨. 편의를 위해 주석처리' 이후에도 출력되는 이유는 exit(0)가 실행되는 동안 이미 실행됨, 시간차 때문임.

In [1]:
for i in range(2, 21, 2):

      for j in range(2, 21, 2):

            print(f'{j:>2d}x{i:>2d}={j*i:>3d}', end=' \t')
            if j == 20:

               print()

 2x 2=  4 	 4x 2=  8 	 6x 2= 12 	 8x 2= 16 	10x 2= 20 	12x 2= 24 	14x 2= 28 	16x 2= 32 	18x 2= 36 	20x 2= 40
 2x 4=  8 	 4x 4= 16 	 6x 4= 24 	 8x 4= 32 	10x 4= 40 	12x 4= 48 	14x 4= 56 	16x 4= 64 	18x 4= 72 	20x 4= 80
 2x 6= 12 	 4x 6= 24 	 6x 6= 36 	 8x 6= 48 	10x 6= 60 	12x 6= 72 	14x 6= 84 	16x 6= 96 	18x 6=108 	20x 6=120
 2x 8= 16 	 4x 8= 32 	 6x 8= 48 	 8x 8= 64 	10x 8= 80 	12x 8= 96 	14x 8=112 	16x 8=128 	18x 8=144 	20x 8=160
 2x10= 20 	 4x10= 40 	 6x10= 60 	 8x10= 80 	10x10=100 	12x10=120 	14x10=140 	16x10=160 	18x10=180 	20x10=200
 2x12= 24 	 4x12= 48 	 6x12= 72 	 8x12= 96 	10x12=120 	12x12=144 	14x12=168 	16x12=192 	18x12=216 	20x12=240
 2x14= 28 	 4x14= 56 	 6x14= 84 	 8x14=112 	10x14=140 	12x14=168 	14x14=196 	16x14=224 	18x14=252 	20x14=280
 2x16= 32 	 4x16= 64 	 6x16= 96 	 8x16=128 	10x16=160 	12x16=192 	14x16=224 	16x16=256 	18x16=288 	20x16=320
 2x18= 36 	 4x18= 72 	 6x18=108 	 8x18=144 	10x18=180 	12x18=216 	14x18=252 	16x18=288 	18x18=324 	20x18=360
 2x20= 40 	 4x20= 80 	 6x20=120 	 8x20=160 	10x20=200 	12x20=240 	14x20=280 	16x20=320 	18x20=360 	20x20=400

In [2]:
for i in range(20, 1, -2):

      for j in range(20, 1, -2):

            print(f'{j:>2d}x{i:>2d}={j*i:>3d}', end=' \t')
            if j == 2:

               print()

20x20=400 	18x20=360 	16x20=320 	14x20=280 	12x20=240 	10x20=200 	 8x20=160 	 6x20=120 	 4x20= 80 	 2x20= 40
20x18=360 	18x18=324 	16x18=288 	14x18=252 	12x18=216 	10x18=180 	 8x18=144 	 6x18=108 	 4x18= 72 	 2x18= 36
20x16=320 	18x16=288 	16x16=256 	14x16=224 	12x16=192 	10x16=160 	 8x16=128 	 6x16= 96 	 4x16= 64 	 2x16= 32
20x14=280 	18x14=252 	16x14=224 	14x14=196 	12x14=168 	10x14=140 	 8x14=112 	 6x14= 84 	 4x14= 56 	 2x14= 28
20x12=240 	18x12=216 	16x12=192 	14x12=168 	12x12=144 	10x12=120 	 8x12= 96 	 6x12= 72 	 4x12= 48 	 2x12= 24
20x10=200 	18x10=180 	16x10=160 	14x10=140 	12x10=120 	10x10=100 	 8x10= 80 	 6x10= 60 	 4x10= 40 	 2x10= 20
20x 8=160 	18x 8=144 	16x 8=128 	14x 8=112 	12x 8= 96 	10x 8= 80 	 8x 8= 64 	 6x 8= 48 	 4x 8= 32 	 2x 8= 16
20x 6=120 	18x 6=108 	16x 6= 96 	14x 6= 84 	12x 6= 72 	10x 6= 60 	 8x 6= 48 	 6x 6= 36 	 4x 6= 24 	 2x 6= 12
20x 4= 80 	18x 4= 72 	16x 4= 64 	14x 4= 56 	12x 4= 48 	10x 4= 40 	 8x 4= 32 	 6x 4= 24 	 4x 4= 16 	 2x 4=  8
20x 2= 40 	18x 2= 36 	16x 2= 32 	14x 2= 28 	12x 2= 24 	10x 2= 20 	 8x 2= 16 	 6x 2= 12 	 4x 2=  8 	 2x 2=  4